.tile {
  max-width: 90vw;
  margin-inline: auto;
  margin-block: 1rem;
  background-color: var(--surface);
  color: var(--txt);
  border-radius: 1rem;
  padding: 1rem;
  display: grid;
  grid-template-columns: 2fr 5fr 1fr;
  grid-template-areas:
    'title content actions'
    'subtitle content actions';
}

.title {
  font-size: 2.4rem;
  font-weight: 300;
  line-height: 1;
  margin: 0;
  padding: 0.5rem 1rem;
  grid-area: title;
  text-align: start;
}
.subtitle {
  font-size: 2rem;
  font-weight: 300;
  line-height: 1;
  margin: 0;
  padding: 0.5rem 1rem;
  grid-area: subtitle;
  text-align: start;
}
.content {
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.4;
  margin: 0;
  padding: 0.5rem 1rem;
  grid-area: content;
  text-align: start;
}
.actions {
  grid-area: actions;
  line-height: 1;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: end;

  & button {
    font-size: 1rem;
    color: var(--txt);
    border: none;
    border-radius: calc(var(--radius) / 2);
    background-color: var(--buttonSurface);
  }
}
