.spinner {
  font-size: 4rem;
  animation-name: pulse;
  animation-timing-function: linear;
  animation-duration: 0.8s;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

@keyframes pulse {
  0% {
    opacity: 1;
    transform: scale(1.1);
  }
  50% {
    opacity: 0.1;
    transform: scale(0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
